<%- include('header') %>
<div class="cardDetailContainer">
  <div class="card">
      <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration" />
      <p class="cardName"><%= card.name %></p>
    <a class="link--addCard" title="Ajouter au deck" href="/deck/add/<%= card.id %>">[ + ]</a>
  </div>
  <p>Niveau: <%= card.level %></p>
  <p>Element: <%= card.element %></p>
</div>

<%- include('footer') %>
